* {
    margin: 0px;
    padding: 0px;
}

:root {
    --color-black: #0D1420;
    --color-navy: #1A2438;
    --color-charcoal: #2C3547;
    --color-gray: #8A909E;
    --color-paragraf: #4d5158;
    --color-gold: #C9A84C;
    --color-offwhite: #F5F2ED;
}



.quem-somos {
    background-color: var(--color-offwhite);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    gap: 100px;
    height: 425px;
}

.quem-somos .textos {
    display: flex;
    flex-direction: column;
    text-align: start;
    max-width: 550px;
}

.quem-somos .textos h1 {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-gold);
    margin-bottom: 20px;
}

.quem-somos .textos h2 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: 500;
    color: var(--color-black);
    margin-bottom: 20px;
}

.quem-somos .textos p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--color-paragraf);
    margin-bottom: 30px;
    text-align: justify;
}

.quem-somos .textos a {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-offwhite);
    width: fit-content;
    background-color: var(--color-navy);
    margin-bottom: 20px;
    text-decoration: none;
    padding: 16px;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.quem-somos .textos a:hover {
    background-color: var(--color-charcoal);
    transform: translateY(-4px);
}

.quem-somos .barbeiros {
    display: flex;
    gap: 60px;
}

.quem-somos .barbeiros-grid {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.quem-somos .barbeiros-grid img {
    background-color: var(--color-charcoal);
    width: 225px;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.quem-somos .barbeiros-grid h3 {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--color-black);
}

.quem-somos .barbeiros-grid p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-gold);
}

.depoimentos {
    background-color: var(--color-navy);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    height: 400px;
}

.depoimentos h1 {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-gold);
    margin-bottom: 10px;
}

.depoimentos h2 {
    font-family: 'Playfair Display', serif;
    font-size: 46px;
    font-weight: 600;
    color: var(--color-offwhite);
    margin-bottom: 50px;
}

.depoimentos .depoimentos-container {
    display: flex;
    gap: 30px;
}

.depoimentos .depoimentos-container .depoimentos-grid {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: start;
    background-color: var(--color-charcoal);
    padding: 30px;
    border-radius: 10px;
    border: 1px solid var(--color-gray);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.depoimentos .depoimentos-container .depoimentos-grid .estrelas {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-gold);
    margin-bottom: 10px;
}

.depoimentos .depoimentos-container .depoimentos-grid p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-offwhite);
    margin-bottom: 10px;
    text-align: justify;
}

.depoimentos .depoimentos-container .depoimentos-grid hr {
    margin-top: 25px;
    margin-bottom: 10px;
}

.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    background-color: var(--color-black);
}

.cta .textos h1 {
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    font-weight: 800;
    color: var(--color-offwhite);
    margin-bottom: 10px;
}

.cta .textos p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #a3a9b7;
    margin-bottom: 50px;
}

.cta .botoes a {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-offwhite);
    text-decoration: none;
    padding: 16px;
    border-radius: 10px;
    transition: all 0.3s ease;
    display: inline-block;
}

.cta .botoes a:hover {
    transform: translateY(-4px);
}

.cta .botoes a.agendar-horario {
    background-color: var(--color-gold);
    margin-right: 10px;
    color: var(--color-black);
}

.cta .botoes a.agendar-horario:hover {
    background-color: #a78a3d;
}

.cta .botoes a.ver-servicos {
    border: 1px solid var(--color-offwhite);
    color: var(--color-offwhite);
}

.cta .botoes a.ver-servicos:hover {
    background-color: var(--color-offwhite);
    color: var(--color-black);
}